$results-header-height: 90px;

$results-table-cell-padding: 8px;
$results-table-header-height: 50px;
$results-table-plates-col-width: 60%;
$results-table-barbell-col-width: 20%;
$results-table-total-col-width: 20%;

@mixin table-header-cell-text {
  color: $cream;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
