@import "../../scss/globals";
@import "./variables";

.container {
  height: auto;
  padding: #{$std-padding / 2};
  width: 100%;

  @include media(">=tablet") {
    min-height: 100vh;
    padding: $std-padding #{$std-padding * 2};
  }
}

.resultsHeader {
  align-items: center;
  display: flex;
  height: $results-header-height;
  justify-content: space-between;
  position: sticky;
}
