@import "../../scss/globals";
@import "./variables";

.container {
  max-height: 100vh;
  width: 100%;
}

.resultsHeader {
  align-items: center;
  display: flex;
  height: $results-header-height;
  padding: 30px;
  position: sticky;
}
