@import "../../scss/globals";

.container {
  background-color: $night-blue;
  padding: #{$std-padding / 2} $std-padding;
  max-height: 100vh;
  max-width: 30%;
  min-width: $sidebar-width;

  p,
  label {
    color: $snow;
  }
}

.appHeader {
  margin: 18px 0 45px;
}
