@import "../../scss/globals";

.container {
  background-color: $night-blue;
  padding: #{$std-padding / 2} $std-padding;
  height: auto;
  min-height: 100vh;
  max-width: $sidebar-max-width;
  min-width: $sidebar-min-width;

  p,
  label {
    color: $snow;
  }
}

.appHeader {
  margin: 25px 0 45px;
}

.logo {
  display: block;
  fill: $snow;
  margin: 0;
  width: 145px;
}
