@import "../../scss/globals";

.container {
  margin-bottom: 30px;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.subhead {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.6;
}

.plateRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.plateSelect {
  margin: 0;
}

.plateLabel {
  color: $concrete;
  flex: 2;
  font-size: 14px;
  padding: 3px 10px 3px 8px;
}

.plateQtySelect {
  color: $slate;
  font-size: 14px;
  width: 80px;
}
