@import "../../scss/globals";

.container {
  border-bottom: 1px solid $snow-10;
  margin-bottom: $std-margin;
  padding-bottom: $std-margin;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.sectionTitle {
  @include section-title;
}

.plateOptions {
  margin-bottom: #{$std-margin / 1.5};
}

.plateRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 8px 0;
}

.plateSelect {
  margin: 0;
}

.plateLabel {
  flex: 2;
  font-size: 14px;
  letter-spacing: 0.08em;
  padding: 3px 10px 3px 8px;
}

.plateLabelWeight {
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  width: 40px;
}

.plateLabelUnits {
  opacity: 0.6;
}

.plateQty {
  display: flex;
  flex-direction: row;
}

.plateQtyTimes {
  align-items: center;
  color: $snow;
  display: inline-block;
  line-height: 25px;
  margin-right: 8px;
  opacity: 0.6;
}

.plateQtySelect {
  color: $slate;
  font-size: 14px;
  width: 44px;
}
