@import "../../../scss/globals";
@import "../variables";

.tableHeader {
  align-items: center;
  background-color: $night-blue;
  color: $snow;
  display: flex;
  flex-direction: row;
  height: $results-table-header-height-mobile;
  justify-content: flex-end;
  padding: #{$std-padding / 3} #{$std-padding / 2};
  position: sticky;
  top: 0;
  width: 100%;
  z-index: $results-table-header-z;

  @include media(">=desktop") {
    height: $results-table-header-height;
    justify-content: space-between;
    padding: #{$std-padding / 2} $std-padding;
  }
}

.tableHeaderColTitle {
  @include table-header-cell-text();

  padding: $results-table-cell-padding;
  white-space: nowrap;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.tableHeaderColPlates {
  display: none;

  @include media(">=desktop") {
    display: block;
    width: $results-table-plates-col-width;
  }
}

.tableHeaderColBarbell {
  display: none;

  @include media(">=desktop") {
    display: block;
    text-align: center;
    width: $results-table-barbell-col-width;
  }
}

.tableHeaderColTotal {
  @include media(">=desktop") {
    text-align: center;
    width: $results-table-total-col-width;
  }
}

.tableHeaderColTotal {
  padding: 0;
}

.sortHeaderBtn {
  @include table-header-cell-text();

  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: $results-table-cell-padding;
  position: relative;
}

.sortIcon {
  margin-left: 5px;
}
