@import "../../../scss/globals";
@import "../variables";

.container {
  background: $snow;
  border-radius: 6px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.16);
  height: 100%;
  overflow: auto;
  max-height: calc(100vh - #{$std-padding * 2} - #{$results-header-height});
  padding: 15px 30px;
  width: 100%;

  p,
  p strong {
    color: #000;
  }

  table {
    text-align: left;
    width: 100%;

    th {
      vertical-align: top;
    }

    td,
    th {
      vertical-align: middle;
    }

    th {
      padding: $results-table-header-padding;
      white-space: nowrap;
    }

    td {
      border-bottom: 1px solid $concrete;
      color: $chocolate;
      font-size: 20px;
      padding: 10px 8px 10px 0;
    }

    tr:focus,
    tr:active {
      td {
        color: $green;
      }
    }

    tr:last-child td {
      border-bottom: none;
    }
  }

  .tableHeaderColPlates,
  .tableColPlates {
    width: 55%;
  }

  .tableHeaderColBarbell,
  .tableColBarbell {
    text-align: center;
    width: 30%;
  }

  .tableHeaderColTotal,
  .tableColTotal {
    text-align: center;
    width: 15%;
  }

  .tableHeaderColPlates,
  .tableHeaderColBarbell,
  .tableHeaderColTotal {
    @include table-header-cell-text();
  }
}

.resultGroup {
  display: inline-block;
}

.resultPlate {
  border-radius: 3px;
  display: inline-block;
  margin-right: 3px;
  min-width: 60px;
  text-align: center;
}

.resultPlateQty {
  font-size: 12px;
  margin-right: 2px;
  opacity: 0.6;
}

.totalWeightAmt {
  font-weight: 500;
}

.noResults {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  h3 {
    color: $night-blue;
    font-size: 20px;
    text-transform: uppercase;
  }

  p {
    color: $chocolate;
  }
}
