@import "../../../scss/globals";
@import "../variables";

.tableHeaderColTotal {
  padding: 0;
}

.sortHeaderBtn {
  @include table-header-cell-text();

  align-items: center;
  display: flex;
  margin-bottom: 1px;
  padding: $results-table-header-padding;
  position: relative;
}

.sortIcon {
  margin-left: 5px;
}
