@import "../../scss/globals";

.container {
  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + .checkbox {
    background: transparent;
    border: 2px solid $silver;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: -1px 0px 0 0;
    opacity: 0.6;
    position: relative;
    top: -1px;
    transition: all 0.2s;
    vertical-align: middle;
    width: 20px;
  }

  input[type="checkbox"]:checked + .checkbox {
    background-color: $blue;
    border-color: $blue;
    opacity: 1;

    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.876' height='11.156' viewBox='0 0 11.876 11.156'%3E%3Cpath id='Path_1' data-name='Path 1' d='M71.874,227.147l4.077,3.425,6.334-9.115' transform='translate(-71.231 -220.886)' fill='none' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      content: "";
      height: 11px;
      position: absolute;
      left: 2px;
      top: 2px;
      width: 12px;
    }
  }
}
