@import "./scss/globals";

body {
  color: $slate;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// BEGIN TEMP STYLES

.root {
  height: 100%;
}

h1 {
  color: $lime;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  margin: 0;
}

h3 {
  margin: 0;
}

h2,
h3 {
  color: $concrete;
}

p {
  color: $slate;
  font-size: 15px;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;
}

.header {
  margin: 15px 0 30px;
}

.availability-panel {
  width: 70%;
}

.equipment-panel {
  background-color: $jade;
  padding: 15px 30px;
  max-height: 100vh;
  max-width: 30%;
  min-width: 300px;

  p {
    color: $concrete;
  }
}

// END TEMP STYLES
