@import "./scss/globals";

body {
  background: $cream;
  color: $slate;
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline-color: $green;
}

// Global layout styles

.root {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;

  @include media(">=phone") {
    flex-direction: row;
  }
}

.drawer {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden; // TEMP hide while I style table
  z-index: $sidebar-drawer-z;

  @include media(">=tablet") {
    position: relative;
  }
}
