@import "./scss/globals";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// BEGIN TEMP STYLES

.root {
  height: 100%;
}

h1 {
  color: $lime;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  margin: 0;
}

h2,
h3,
p {
  color: $snow;
}

h3 {
  color: #fff;
  font-size: 13px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  opacity: 0.6;
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100vh;
}

.header {
  margin: 15px 0 30px;
}

.availability-panel {
  width: 70%;
}

.equipment-panel {
  background-color: $jade;
  padding: 15px 30px;
  max-width: 30%;
  min-width: 290px;
}

.results-table-container {
  padding: 15px 30px;
}

// END TEMP STYLES
