@import "./variables";
@import "./typography";

// Mixins
@mixin section-title {
  color: $green;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.09em;
  margin: 0 0 10px;
  text-transform: uppercase;
}

// Button reset
button {
  appearance: none;
  background: none;
  border: 0;
  font-family: "Rubik", sans-serif;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}
