@import url("https://fonts.googleapis.com/css2?family=Rubik&family=Russo+One&display=swap");

@import "./variables";
@import "./typography";

// Mixins
@mixin section-title {
  color: $green;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.09em;
  margin: 0 0 10px;
  text-transform: uppercase;
}

// Button(s)
button {
  appearance: none;
  background: $green;
  border: 0;
  border-radius: $border-radius;
  color: $snow;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.09em;
  padding: 8px 16px;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}
