// Imports
@import "./utils/include-media";
@import "./variables";
@import "./typography";

// Mixins
@mixin section-title {
  color: $green;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0.09em;
  margin: 0 0 10px;
  text-transform: uppercase;
}

// @reference https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements
@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Button reset
button {
  appearance: none;
  background: none;
  border: 0;
  font-family: "Rubik", sans-serif;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

// Input reset
input[type="text"] {
  appearance: none;
  background: $snow;
  border: 0;
  border-radius: 6px;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  padding: 8px;

  @include media(">=tablet") {
    font-size: 16px;
  }
}
