@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h3 {
  margin: 0;
}

h2,
h3 {
  color: $concrete;
}

p {
  color: $slate;
  font-size: 15px;
}
