// Layout
$std-padding: 36px;
$std-margin: 30px;
$sidebar-width: 290px;

// Style
$border-radius: 6px;

// Colors
$orange: #ffa459;
$snow: #f0ffff;
$concrete: #e1e5e8;
$forest: #405954;
$jade: #022223;
$rose: #a84040;
$lime: #6ead6d;
$slate: #333;

// Colors 2.0
$blue: #4981b2;
$night-blue: #3a394d;
$green: #39c6a9;
$chocolate: #746766;
$cream: #ebeae3;
$silver: #e3dfda;
$snow: #fff;
$snow-50: rgba(255, 255, 255, 0.5);
$snow-30: rgba(255, 255, 255, 0.3);
$snow-10: rgba(255, 255, 255, 0.1);
